.Layout-header {
  border-radius: 5px;
  padding: 10px;
  background-color: #282c34;
  display: block;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: Verdana;
}

.Layout-nav {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: seagreen;
  color: #fff;
  padding: 1rem; 
  font-family: Verdana;
}


.Layout-button:hover {
  background-color: #04AA6D; /* Green */
  color: black;
}

.Layout-button {
  transition-duration: 0.3s;
  font-family: Verdana;
  border-radius: 5px;
  background-color: seagreen;
  color: #fff;
}

.Layout-nav-item {
  transition-duration: 0.3s;
}

.Layout-nav-item:hover {
  color: grey;
}

.Layout-nav-item {
  font-family: Verdana;
  justify-content: center;
  color: white;
  padding: 1rem; 
}

.ISO{
  display: flexbox;
  flex-direction: row;
}

.ISO-data{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.ISO-data-items{
  display: flex;
  flex-direction: column;
}

.ISO-line{
  background-color: #04AA6D;
}